{% extends 'base.html.twig' %}
{% block title %}Impressum{% endblock %}
{% block content %}
<div class="container container--fade-in">
    <div class="box border rounded shadow p-3 mx-auto">
        <h1>Impressum</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Name der Person:</strong><br>
                <span>Thomas Hofmann</span>
            </li>
            <li class="list-group-item">
                <strong>Adresse:</strong><br>
                <span>Birkenweg 7, 64295 Darmstadt, Büro: D15, 1.03</span>
            </li>
            <li class="list-group-item">
                <strong>Telefon:</strong><br>
                <span>+49.6151.533-60693</span>
            </li>
            <li class="list-group-item">
                <strong>E-Mail:</strong><br>
                <span>mail@hofmann-thomas.de</span>
            </li>
        </ul>
    </div>
</div>
{% endblock %}