{% extends 'base.html.twig' %}
{% block title %}Impressum{% endblock %}
{% block content %}
<div class="container container--fade-in">
    <div class="box border rounded shadow p-3 mx-auto">
        <h1>Impressum</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Name der Person:</strong><br>
                <span>Thomas Hofmann</span>
            </li>
            <li class="list-group-item">
                <strong>Adresse:</strong><br>
                <span>Birkenweg 7, 64295 Darmstadt, Büro: D15, 306</span>
            </li>
            <li class="list-group-item">
                <strong>Telefon:</strong><br>
                <span>+49.6151.533-60693</span>
            </li>
            <li class="list-group-item">
                <script>eval(unescape("%73%6e%71%68%63%32%39%3d%5b%27%25%36%64%25%36%31%25%36%39%25%36%63%27%2c%5b%27%25%36%34%25%36%35%27%2c%27%25%36%38%25%36%66%25%36%36%25%36%64%25%36%31%25%36%65%25%36%65%25%32%64%25%37%34%25%36%38%25%36%66%25%36%64%25%36%31%25%37%33%27%5d%2e%72%65%76%65%72%73%65%28%29%2e%6a%6f%69%6e%28%27%2e%27%29%5d%2e%6a%6f%69%6e%28%27%40%27%29%3b%70%6a%75%79%79%30%37%3d%27%45%2d%4d%61%69%6c%20%73%63%68%72%65%69%62%65%6e%27%3b%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%70%6a%75%79%79%30%37%2e%6c%69%6e%6b%28%27%6d%61%69%27%2b%27%6c%74%6f%3a%27%2b%73%6e%71%68%63%32%39%29%29%3b"));</script>
            </li>
        </ul>
    </div>
</div>
{% endblock %}