{% include ('base.html.twig') %}
<div class="container text-center">
    <div class="box border rounded shadow p-3 mx-auto">
        <img src="{{ asset('images/logo.png') }}" class="logo">
        <h1><strong>Quiz</strong></h1>
        <form action="{{ path('quiz-initial') }}" method="post" class="box mx-auto">
            <div class="form-group mt-4">
                <input type="text" class="form-control mb-4 text-center" id="codeInput" name="code" placeholder="Beitrittscode" required>
            </div>
            <button type="submit" id="startQuizBtn" class="btn btn-success btn-lg mt-2 mb-3 w-100 index__button animated__icon" disabled><i class="fa-regular fa-circle-play"></i> Quiz starten</button>
        </form>
    </div>
</div>
{% include ('footer.html.twig') %}