{% extends 'base.html.twig' %}
{% block title %}H_DA - Quiz{% endblock %}
{% block content %}
<div class="container text-center container--fade-in">
    <div class="box border rounded shadow p-3 mx-auto position-relative">
        <img src="{{ asset('images/logo.png') }}" class="logo">
        <h1>
            <strong>Quiz</strong>
        </h1>
        <form action="{{ path('quiz-initial') }}" method="post">
            <div class="form-group mt-3">
                <input type="text" class="form-control mb-3 text-center index__input-code animated-placeholder" id="codeInput" name="code" required>
            </div>
            <button type="submit" id="startQuizBtn" class="btn btn-success bg-gradient btn-lg quiz__button--initial" disabled><span id="loading"><i class="fa-regular fa-circle-play next-icon"></i></span> Quiz starten</button>
        </form>
    </div>
</div>
{% endblock %}