{% extends 'base.html.twig' %}
{% block title %}Datenschutz{% endblock %}
{% block content %}
<div class="container container--fade-in">
    <div class="box border rounded shadow p-3 mx-auto">
        <h1>Datenschutz</h1>
        <ul class="list-group">
            <li class="list-group-item">
                Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
            </li>
            <li class="list-group-item">
                <strong>Datenerhebung und -verarbeitung</strong><br>
                <span>Wir erheben und verarbeiten Ihre personenbezogenen Daten nur, wenn dies gesetzlich erlaubt ist oder Sie in die Datenerhebung einwilligen. Im Rahmen unserer Website werden keine personenbezogenen Daten erhoben, es sei denn, Sie stellen uns diese freiwillig zur Verfügung (z.B. durch Kontaktformulare).</span>
            </li>
            <li class="list-group-item">
                <strong>Cookies</strong><br>
                <span>Unsere Website verwendet nur Session-Cookies, die nach dem Schließen des Browsers automatisch gelöscht werden.</span>
            </li>
            <li class="list-group-item">
                <strong>Rechte des Nutzers</strong><br>
                <span>Sie haben das Recht, auf Antrag unentgeltlich Auskunft über die bei uns gespeicherten personenbezogenen Daten zu erhalten, sowie das Recht auf Berichtigung, Löschung oder Sperrung dieser Daten.</span>
            </li>
            <li class="list-group-item">
                <strong>Änderungen dieser Datenschutzerklärung</strong><br>
                <span>Wir behalten uns das Recht vor, diese Datenschutzerklärung anzupassen, um sie an geänderte rechtliche Anforderungen oder bei Änderungen unserer Dienstleistungen anzupassen. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</span>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
