{% extends 'base.html.twig' %}
{% block title %}Registrierung{% endblock %}
{% block content %}
<div class="container container--fade-in">
    <div class="box border rounded shadow p-3 mx-auto">
        <h1>Registrierung</h1>
        <p><b>Sie haben Interesse auch selbst Quizze anzulegen?</b><br> Dann stellen Sie eine Accountanfrage unter den folgenden Kontaktdaten:</p>
        <p class="fw-bold text-info"><a href="https://www.fbi.h-da.de/informieren/ueber-uns/personen/person-detail/thomas-hofmann" class="btn btn-info bg-gradient">Kontaktdaten</a></p>
    </div>
</div>
{% endblock %}