{% extends 'base.html.twig' %}
{% block title %}Registrierung{% endblock %}
{% block content %}
<div class="container container--fade-in">
    <div class="box border rounded shadow p-3 mx-auto">
        <h1>Registrierung</h1>
        <p><b>Sie haben Interesse auch selbst Quizze anzulegen?</b><br> Dann stellen Sie eine Accountanfrage unter der folgenden E-Mail Adresse:</p>
        <p class="fw-bold text-info">Thomas.Hofmann@h-da.de</p>
    </div>
</div>
{% endblock %}