{% extends 'base.html.twig' %}
{% block title %}Beitrittscode ungültig{% endblock %}
{% block content %}
<div class="container container--fade-in">
    <div class="box box--70 border rounded shadow p-3 mx-auto">
        <h1>Beitrittscode ungültig</h1>
        <p>Schauen Sie, ob Sie den Code richtig eingegeben haben.</p>
        <a href="{{ path('home') }}" type="button" class="btn btn-dark bg-gradient mt-2"><i class="fa-solid fa-arrow-left-long"></i> Zurück zur Startseite</a>
    </div>
</div>
{% endblock %}