html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    hyphens: auto;
}

h1, h2 ,h3 {
    font-weight: bold;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

.box {
    background: #fff;
    max-width: 50%;

    @include media-breakpoint-down('xl') {
        max-width: 70%;
    }

    @include media-breakpoint-down('lg') {
        max-width: 100%;
    }
}

.box--70 {
    max-width: 70%;

    @include media-breakpoint-down('lg') {
        max-width: 100%;
    }
}

.logo {
    width: 100%;
    height: auto;

    max-width: 250px;
}

.navbar__login {
    @include media-breakpoint-down('lg') {
        padding-bottom: 0;
    }
}

.animated__icon {
    &:not(:disabled) {
        i {
            animation: horizontal-moving 1s linear infinite;
        }
    }
}

@keyframes horizontal-moving {
    0% { transform: translateX(0) }
    25% { transform: translateX(-5px) }
    50% { transform: translateX(-7px) }
    75% { transform: translateX(-5px) }
    100% { transform: translateX(0) }
}