html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    hyphens: auto;
}

:root {
    color-scheme: light only;
}

h1, h2 ,h3 {
    font-weight: bold;
}

.main-content {
    flex-grow: 1;
    position: relative;
}

header, main, footer {
    flex-shrink: 0;
}

.box {
    background: #fff;
    max-width: 50%;

    @include media-breakpoint-down('xl') {
        max-width: 75%;
    }

    @include media-breakpoint-down('lg') {
        max-width: 100%;
    }
}

.box--70 {
    max-width: 75%;

    @include media-breakpoint-down('lg') {
        max-width: 100%;
    }
}

.box--100 {
    max-width: 100%;
}

.logo {
    width: 100%;
    height: auto;

    max-width: 250px;
}

.navbar__login {
    @include media-breakpoint-down('lg') {
        padding-bottom: 0;
    }
}

.animated__icon {
    &:not(:disabled) {
        i {
            animation: horizontal-moving 1s linear infinite;
        }
    }
}

@keyframes horizontal-moving {
    0% { transform: translateX(0) }
    25% { transform: translateX(-5px) }
    50% { transform: translateX(-7px) }
    75% { transform: translateX(-5px) }
    100% { transform: translateX(0) }
}

.flash-message-wrapper {
    width: 100%;
    position: fixed;
    top: 7px;
    z-index: 9999;
}

.flash-message {
    margin: auto;
    width: fit-content;
}

.svg-questionmark {
    position: absolute;
    bottom: 3vh;
    right: 0;
    width: 150px;
    height: auto;
    z-index: -1;
    path {
        fill: rgba(33, 37, 41, 0.075);
    }

    @include media-breakpoint-down(lg) {
        width: 100px;
    }
}

.svg-questionmark--smaller {
    right: 130px;
    width: 80px;
    @include media-breakpoint-down(lg) {
        right: 80px;
        width: 50px;
    }
}

.svg-questionmark-left {
    position: absolute;
    bottom: 3vh;
    left: 0;
    width: 150px;
    height: auto;
    z-index: -1;
    transform: scaleX(-1);
    path {
        fill: rgba(33, 37, 41, 0.075);
    }

    @include media-breakpoint-down(lg) {
        width: 100px;
    }
}

.svg-questionmark-left--smaller {
    left: 130px;
    width: 80px;
    transform: scaleX(-1);
    @include media-breakpoint-down(lg) {
        left: 80px;
        width: 50px;
    }
}

/* Keyframe-Definition für das "tilt-shaking" */
@keyframes tilt-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(3px) }
    50% { transform: translateX(-3px) }
    75% { transform: translateX(3px) }
    100% { transform: translateX(0) }
}
  
  /* Anwenden der Animation */
  .shake-on-load {
    position: relative; /* Ermöglicht die Anwendung des z-index */
    z-index: 99; /* Setzt das Element in den Vordergrund */
    animation: tilt-shaking 0.6s ease;
}