.dashboard__button {
    display: block;
    width: 50%;

    @include media-breakpoint-down(lg) {
        width: 100%;
    }
}

.edit-question-list-item {
    cursor: grab;

    &:hover {
        box-shadow: inset 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
    }
}

.accordion-button {
    box-shadow: $box-shadow-inset;
}

.accordion-button:not(.collapsed) {
    background-color: inherit !important;
    color:inherit !important;
    box-shadow: inherit;
}

.accordion-button:focus {
    box-shadow: inherit;
}

.accordion-button:hover {
    box-shadow: inset 0 .5rem 1rem rgba($black, .15);
}

.question-stats-li {
    padding-right: 60px;
    padding-left: 60px;
    box-shadow: $box-shadow-inset;
}