.answer__label {
    width: 100%;
    padding: 10px;
    position: relative;

    &:hover {
        background: #dee2e6;
        border-color: #dee2e6;
        cursor: pointer;
    }

    input[type="radio"]:checked + & {
        background: #212529;
        border-color: #212529 !important;
        color: white; // Matching border color
    }
}

.question__letter {
    position: absolute;
    left: 10px;
    top: 2px;
    font-size: 23px;
    font-weight: 600;
}

.question__text {
    font-weight: 600;
    line-height: 1.3;
}

.rounded-top-left {
    border-top-left-radius: 0.25rem; /* or any radius value */
}

.rounded-top-right {
    border-top-right-radius: 0.25rem; /* or any radius value */
}

.rounded-bottom-right {
        border-bottom-right-radius: 0.25rem; /* Adjust the radius as needed */
}
.rounded-bottom-left {
border-bottom-left-radius: 0.25rem; /* Adjust the radius as needed */
}