.question__answer {
    position: relative;
}

.answer__label {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    padding-top: 7px;

    &:hover {
        background: white;
        color: #212529;
        cursor: pointer;
    }
}

.answer__radio:checked + .answer__label {
    background: white;
    color: #212529;
}