{% include ('base.html.twig') %}
<div class="container">
    <div class="box border rounded shadow p-3 mx-auto">
        <h1>Quiz erstellen</h1>
        <form action="{{ path('create-quiz') }}" method="get">
            <div class="form-group custom-list">
                <input type="text" class="form-control" id="quizname" name="quizname" placeholder="Quizname" required>
            </div>
            <button type="submit" class="btn btn-success mt-2"><i class="fa-solid fa-plus"></i> Fragen hinzufügen</button>
            <a href="/dashboard" type="button" class="btn btn-primary mt-2">Zurück zum Dashboard</a>
        </form>
    </div>
</div>
{% include ('footer.html.twig') %}