{% include ('base.html.twig') %}
<div class="container">
    <div class="box box--70 border rounded shadow p-3 mx-auto">
        <h1>Quiz erstellen</h1>
        <form action="{{ path('create-quiz') }}" method="post">
            <div class="form-group">
                <input type="text" class="form-control mb-2" id="quizname" name="quizname" placeholder="Quizname" required>
                <div class="form-check mb-2">
                    <input class="form-check-input code__bool" type="radio" name="codeBool" id="codeBoolGenerate" value="generate" required checked>
                    <label class="form-check-label" for="codeBoolGenerate">
                        Beitrittscode generieren lassen
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input code__bool" type="radio" name="codeBool" value="self" id="codeBoolSelf">
                    <label class="form-check-label" for="codeBoolSelf">
                        Beitrittscode selbst erstellen. (Achtung muss eindeutig sein)
                    </label>
                </div>
                <input type="text" class="form-control mb-2 {% if error %}is-invalid{% endif %}" id="quizcode" name="quizcode" placeholder="Beitrittscode(Muss eindeutig)" disabled>
                {% if error %}
                    <div id="quizcode" class="invalid-feedback">
                        Achtung Code wird bereits verwendet. Nutzen Sie einen anderen
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-dark bg-gradient mt-2"><i class="fa-solid fa-plus"></i> Fragen hinzufügen</button>
            <a href="{{ path('dashboard') }}" type="button" class="btn btn-secondary bg-gradient mt-2">Zurück zum Dashboard</a>
        </form>
    </div>
</div>
{% include ('footer.html.twig') %}