{% include ('base.html.twig') %}
<div class="container">
    <div class="box box--70 border rounded shadow p-3 mx-auto">
        <h1>Das funktioniert so nicht!</h1>
        <p>Wahrscheinlich haben Sie was gemacht, was nicht erlaubt ist.</p>
        <a href="{{ path('home') }}" type="button" class="btn btn-dark bg-gradient mt-2"><i class="fa-solid fa-arrow-left-long"></i> Zurück zur Startseite</a>
    </div>
</div>
{% include ('footer.html.twig') %}