{% include ('base.html.twig') %}
<div class="container">
    <h1>Ups etwas ist schiefgelaufen</h1>
    <p>Wahrscheinlich haben Sie was gemacht, was man nicht machen sollte.</p>
    <a href="/" type="button" class="btn btn-primary mt-2"><i class="fa-solid fa-arrow-left-long"></i> Zurück zur Startseite</a>
</div>
{% include ('footer.html.twig') %}