{% include ('base.html.twig') %}
<div class="container">
    <div class="box box--70 border rounded shadow p-3 mx-auto">
        <h1>Beitrittscode ungültig</h1>
        <p>Schauen Sie, ob Sie den Code richtig eingegeben haben.</p>
        <a href="{{ path('home') }}" type="button" class="btn btn-dark mt-2"><i class="fa-solid fa-arrow-left-long"></i> Zurück zur Startseite</a>
    </div>
</div>
{% include ('footer.html.twig') %}