{% include ('base.html.twig') %}
<div class="container text-center">
    <img src="{{ asset('images/logo.png') }}" class="logo">
    <h1><strong>Quiz</strong></h1>
    <form action="{{ path('quiz') }}" method="get" class="box mx-auto">
        <div class="form-group mt-4">
            <input type="text" class="form-control mb-4 text-center" name="code" placeholder="Beitrittscode" required>
            <input type="number" class="form-control mb-4 text-center" name="matrikelnummer" placeholder="Matrikelnummer" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2"><i class="fa-regular fa-circle-play"></i> Quiz starten</button>
    </form>
</div>
{% include ('footer.html.twig') %}