{% include ('base.html.twig') %}
<div class="container text-center">
    <div class="box box--70 border rounded shadow p-3 mx-auto">
        <h2>Rangliste</h2>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                <th scope="col"><i class="fa-solid fa-ranking-star"></i></th>
                <th scope="col" class="text-start">Spielername</th>
                <th scope="col" ><i class="fa-regular fa-circle-check"></i></th>
                </tr>
            </thead>
            <tbody>
                {% set place = 1 %}
                {% for entry in leaderBoardEntries %}
                    {% if loop.index == 1 %}
                        {% set entryScoreTmp = entry.score %}
                    {% endif %}
                    {% if entryScoreTmp != entry.score %}
                        {% set place = place + 1 %}
                        {% set entryScoreTmp = entry.score %}
                    {% endif %}
                    <tr>
                        <td>{{ place }}</td>
                        <td class="text-start">
                            {% if place == 1 %}
                                <span style="color: #ffd700"><i class="fa-solid fa-crown"></i></span>
                            {% endif %}
                            {% if place == 2 %}
                                <span style="color: #c0c0c0"><i class="fa-solid fa-crown"></i></span>
                            {% endif %}
                            {% if place == 3 %}
                                <span style="color: #bf8970"><i class="fa-solid fa-crown"></i></span>
                            {% endif %}
                            {{ entry.matrikelnumber }}
                        </td>
                        <td>{{ entry.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/dashboard" type="button" class="btn btn-dark mt-2">Zurück zum Dashboard</a>
    </div>
</div>
{% include ('footer.html.twig') %}