{% extends 'base.html.twig' %}
{% block title %}Antwortstats{% endblock %}
{% block content %}
<div id="answer-stats-container">
    {% for entry in sortedEntries %}
        {% set index = loop.index0 %}
        {% include 'dashboard/_answer-stat-question.html.twig' with {entry: entry, index: index, quiz: quiz} %}
    {% endfor %}
</div>
{% endblock %}
