{% include ('base.html.twig') %}
<div class="container container--fade-in">
    <div class="box box--70 border rounded shadow p-3 mx-auto">
        <h1>Interner Serverfehler (500)</h1>
        <p>Es tut uns leid, aber ein interner Serverfehler ist aufgetreten.</p>
        <p>Bitte versuchen Sie es später erneut.</p>
    </div>
</div>
{% include ('footer.html.twig') %}
