{% include ('base.html.twig') %}
<div class="container container--fade-in">
    <div class="box box--70 border rounded shadow p-3 mx-auto">
        <h1>Ein Fehler ist aufgetreten</h1>
        <p>Es tut uns leid, aber ein Fehler ist aufgetreten. Bitte versuchen Sie es später noch einmal.</p>
        <a href="{{ path('home') }}" type="button" class="btn btn-dark mt-2"><i class="fa-solid fa-arrow-left-long"></i> Zurück zur Startseite</a>
    </div>
</div>
{% include ('footer.html.twig') %}
